@charset "utf-8";
/* CSS Document */

html .mceContentBody {
	max-width: 686px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #131313;
	line-height: 160%;
}
p {
	clear: both;
	line-height: 1.5em;
}
h1 {
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
h2 {
	font-size: 1.75em;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 20px 0px;
	padding: 0px;
}
h3 {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}
table {
	margin:1em 0em 3em 0em;
	border: solid 1px #EEE;
}
tr th {
	padding: 1em 2em 1em 2em;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	border:1px solid #EEE;
}
td {
	padding: 1em 2em 1em 2em;
	border:1px solid #EEE;
}
ul,
li {
	list-style: square;
}
blockquote.left {
	margin-right:20px;
	text-align:right;
	margin-left:0;
	width:33%;
	float:left;
}
blockquote.right {
	margin-left:20px;
	text-align:left;
	margin-right:0;
	width:33%;
	float:right;
}
.aligncenter {
	display:block;
	margin: 0 auto;
}
.alignright {
	float:right;
	margin: 10px 0 10px 10px;
}
.alignleft {
	float:left;
	margin:10px 10px 10px 0;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.textcenter {
	text-align:center;
}
.textright {
	text-align:right;
}
.textleft {
	text-align:left;
}
.wp-caption {
	text-align:center;
	background-color:#333;
	padding-top:0px;
	margin-top: 10px;
	color: #FFF;
}
.wp-caption img {
	margin:0;
	padding:5px 5px 0px 5px;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size :0.7em;
	padding:0 4px 5px;
	margin:0;
}