/* Eclipse Pro Style.css */

/* Reset and Design Constant Styles */

body {color:#ccc;background: url(../images/bgimg.png);}
*, html, body{padding:0;border:0;margin:0;}
body, div, p, input, textarea{font-size:14px;font-weight:400;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
p{margin: 0 0 10px 0;clear: both;}
a{color:#555;text-decoration:none}
a:hover{text-decoration:none}
#wrapper input, textarea{color:#666;border:#ccc 1px solid;border-radius:2px;-moz-border-radius: 2px;}
input[type=submit]{cursor:pointer;}
input {border: 1px solid #ccc;}
input[type=submit]{font-size: 12px;padding: 10px 20px 10px 20px;margin-top: 5px;border: 1px solid #2aa5c8;border-radius: 4px;-moz-border-radius: 4px;background:#2aa5c8;color: #fff;font-weight:600;}
input[type=reset]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
a img{border:none}
a{outline:none}

.entry.nine.columns {
	margin-left: 1.4%;
	float:left;
	width: 76.1%;
}

.required {display: none;}

@-moz-document url-prefix() {#sidebar.three.columns {width: 22%; margin-left: 4.1%}}

#image_pagination {border-top: 1px solid #3D3D3D; border-bottom: 1px solid #3D3D3D;margin-bottom: 15px; display: block;}

.image_wrap {padding: 10px 15px 5px 15px; height: 105px;}

.previous_image {float: left;}

.next_image {float: right;}

.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
margin-top: -35px;
margin-bottom: 30px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

#register {text-align: right; list-style: none;}

#register li {float: right; display: block; padding-left: 5px;}

#sidebar.four.columns {margin-left: 2%; width: 30.7%;}
#sidebar_left.four.columns {margin-right: 2%; width: 30.7%;}
#content.eight.columns {width: 65.4%; margin-left: 0%;}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: transparent;
	margin-bottom: 15px;
}

#content {
	margin-top: 40px;
}

#front_custom {padding: 15px 0px 15px 0px;}

/* Meta  */

.meta {
	color: #e6e6e6;
	font-family: Helvetica, Arial;
	font-weight:400;
	font-size: 13px;
	padding-bottom: 10px;
	margin-top: 65px;
	padding-right:45px;
	text-align:right;
}

.meta a{color: #e6e6e6;text-decoration:none;}

.meta a:hover{color: #aaa;}

.meta li {line-height: 24px;padding-right: 25px;} 

.meta-mobile {
	color: #e6e6e6;
	font-family: Helvetica, Arial;
	font-weight:400;
	font-size: 13px;
	padding-bottom: 10px;
	margin-top: 25px;
	padding-right:34px;
}
.meta-mobile ul {margin-left: 0px !important;}

.meta-mobile a{color: #e6e6e6;text-decoration:none;}

.meta-mobile a:hover{color: #aaa;}

.meta-mobile li {line-height: 24px;padding-right: 25px;} 

.metadate {
	background: url(../images/icons/cal.png) no-repeat right center;
}

.metacomments {
	background: url(../images/icons/comments.png) no-repeat right center;
}

.metaauthor {
	background: url(../images/icons/author.png) no-repeat right center;
	padding-top: 1px;
}

.metacat {
	background: url(../images/icons/cat.png) no-repeat right center;
}

.metatags {
	background: url(../images/icons/tags.png) no-repeat right center;
}

.entry {}

.entry p {clear: none;line-height: 1.5;}

.clear {clear: both;}

.entry p a{border-bottom: 1px solid #575757;}


.error {font-size:28px; text-align:center; }

a:hover {color: #5ca9d6;}

/* General  */

a {color: #fff;}

a:hover {color: #aaa;}

/* Header  */

#header {
	border-bottom: 1px solid #3D3D3D;
	min-height: 95px;
	background: #000;
}

#header_contact{ text-align:right;}

#logo {margin-bottom: 5px;margin-top:18px;line-height: 40px;}

#banner {margin-bottom: 10px;}

#subheader {
	background:url(../images/footer.png);
	padding-bottom: 5px;
	border-bottom: 1px solid #3D3D3D;
}

/* Nav  */

#nav {
    float: right;
    margin-top: 32px;
    position: relative;
}

#nav ul {
	list-style: none;
	margin: 0;
}
#nav li {
	position: relative;
}

#nav li a {
	display: block;
	padding: 5px 10px;
	font-weight: 400;
	text-decoration:none;
	color: whitesmoke;
}

#nav_menu > li {
    float: left;
    margin: 0 13px;
}

#nav #nav_menu > li > .sub-menu {
    display: none;
	background: rgba(35,35,35,0.75) none;
   	margin-top: 5px;
    padding: 8px 10px 5px;
    position: absolute;
    left: 0;
    top: 25px;
    float: left;
    width: 200px;
    z-index: 9999;
    border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    -khtml-border-radius: 0 3px 3px 3px;
}

#nav #nav_menu > li .main_nav_arrow {
    background: url(../images/down-arrow.png) no-repeat center center;
    height: 5px;
    width: 8px;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 10px;
    top: -1px;
}

#nav #nav_menu > li > .sub-menu .nav_arrow {
    background: url(../images/nav_arrow.png);
    height: 11px;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 14px;
    display: none;
}

#nav #nav_menu > li > .children {
     display: none;
	background: rgba(35,35,35,0.75) none;
   	margin-top: 5px;
    padding: 8px 10px 5px;
    position: absolute;
    left: 0;
    top: 25px;
    float: left;
    width: 200px;
    z-index: 9999;
    border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    -khtml-border-radius: 0 3px 3px 3px;
}

#nav #nav_menu > li > .children .nav_arrow {
    background: url(../images/nav_arrow.png);
    height: 11px;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 14px;
    display: none;
}

#nav #nav_menu > li > a {
	color: #b3b3b3;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    padding: 5px 0px 5px 10px;
    position: relative;
}

#nav #nav_menu > .current_page_item > a {
	color: #FFF;
}

#nav #nav_menu > li:hover > a {
	color: yellow;
	background: transparent;
	padding: 5px 0px 5px 10px;
	font-weight: 500;
}

#nav #nav_menu > .dropdown_hover:hover > a {
	color: #b3b3b3;
	background: rgba(35,35,35,0.75) none;
	padding: 5px 0px 5px 10px;
	font-weight: 500;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
}

#nav #nav_menu li:hover > ul {
	display: block;
}

#nav ul ul a {
	color: #B3B3B3;
	font-size: 14px;
	border-bottom: 1px solid #3D3D3D;
}
#nav ul ul a:hover {
	color: #FFF;
}

#nav .parent-menu {
	background: url(../images/down-menu-arrow.png) no-repeat right center;
}
#nav .parent-menu:hover {
	background: url(../images/down-menu-arrow-hover.png) no-repeat right center;
}
#nav ul ul ul a {
	background: url(../images/indent-menu-arrow.png) no-repeat left center;
}
#nav ul ul ul a:hover {
	background: url(../images/indent-menu-arrow-hover.png) no-repeat left center;
}
#nav ul ul ul a {
	text-indent: 10px;
}
#nav ul ul ul ul a {
	text-indent: 20px;
}
#nav ul ul ul ul ul a {
	text-indent: 30px;
}


/* Social Icons  */

#social {margin-bottom: 0px;}

.icons {text-align:right;margin-top: 10px;}

.icons a img {opacity:1; padding-left: 3px;}

.icons a:hover img {opacity:.6;}

/* Home Button */

#home {float: left;border-right:#777 1px solid;margin-right:4px;margin-left:24px;}
#home a:hover{opacity: .5}
#nohome {float: left; margin-right:4px;margin-left:5px; height: 35px;}

/* Search Bar */

.searchform {
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
	height: 32px;
	background: #fff;
}

.center .searchform {float:none;}

#morefoot .searchform {float:left;}

.searchform .s{
	margin:0;
	border: none;
	margin: 10px 2px 2px 10px;
	font-size: 12px;
	height: 14px;
	color: #666;
	overflow: hidden;
}

#magnify {float:right;position:relative;margin: 8px 10px 0 0px;}

#magnify {margin: 0 0 0 5px\0/IE8+9; /* IE8+9  */}

.searchform .s:focus {outline:0; border:none;}

.searchform .searchsubmit {display:none;}

/* Post Container Styling  */

.post_container {
	background: transparent;
	margin-bottom: 40px;
	border-bottom: 1px solid #393939;
	padding-bottom: 20px;
}

.post_container.single {border-bottom: none;}

.post_container ul {list-style: disc;margin-left: 21px;list-style-position: inside;}

.postformats {
	float:right;
	height: 42px;
	width: 42px;
	margin-top: 0px;
	padding-right: 45px;
}

#comments {padding-top: 3px;font-size: 12px;}

#share {text-align:left;float:left;padding-top: 3px;}

.share a img {opacity:.8;}

.share a:hover img {opacity:1;}

#post-pagination-container {border-top: 1px solid #3D3D3D; border-bottom: 1px solid #3D3D3D; margin-bottom: 15px;}
#post-pagination-wrap { padding-top: 20px; padding-bottom: 10px; }

.next-posts-single {text-align:right;padding:5px; margin-top:-35px;}

.prev-posts-single {text-align:left;padding:5px; margin-top: -10px; margin-bottom: 5px; margin-left: -5px; max-width:300px;}

.prev-posts-single img {margin-right: 7px; margin-bottom: -1px;}
.next-posts-single img {margin-left: 7px; margin-bottom: -1px;}

.tags {margin-bottom: 15px;font-size: 12px;}

#fb {width: 440px; margin-bottom: 5px;}

.gplusone {margin-bottom: 10px;}

.post-edit-link {background-color: #757575;padding: 2px 3px;color: white;font-size: 10px;border-radius: 3px;-moz-border-radius: 3px;}

.meta ul{list-style: none;margin-left:0px;}

.continue_img {
	margin-right: 2px;
	margin-top: 20px;
	margin-bottom: -1px;
}

a.more-link {
	color: #fff;
	font-size:14px;
	font-family: Helvetica, Arial;
	font-weight:600;
	border-bottom: none !important;
}

a.more-link:hover{
	color: #eee;
}

.more-link a {
	color: #fff;
	font-size:14px;
	font-family: Helvetica, Arial;
	font-weight:600;
}

.more-link a:hover{
	color: #eee;
}

.more-link p a {border-bottom: none !important;}

/* Posts Navigation */

.next-posts {float: left;padding: 5px 0 5px 0; }

.prev-posts { float: right;padding: 5px 0 5px 0; }

.pagnext-posts {float: left;padding: 5px;margin-bottom: 10px;}

.pagprev-posts { float: right;padding: 5px;margin-bottom: 10px; }

/* HTML styling  */

dt {font-weight: bold; margin-top: 5px; margin-bottom: 5px; margin-left: 26px; }

dd {margin-bottom: 15px; margin-left: 26px; }

ul, ol { margin: 0 0 10px 0; }

th {padding-right: 20px; padding-bottom: 10px;}

td {border-top: 1px solid #DDD;padding: 6px 100px 6px 0;}

table {border-bottom: 1px solid #DDD;}

pre {margin-left: 20px;}

ol, ul {list-style-position: inside;margin-left: 21px;}

/* Sidebar  */

.widget-container {
	color: #ccc;
	font-size: 13px;
	margin-bottom: 40px;
	background: transparent;
}

.widget-container p{
	color: #ccc;
	font-size: 13px;
}

.widget-container li {list-style: none;list-style-type: none;list-style-position: inside;}

.textwidget {padding-top: 10px;font-size: 13px;color: #5b5b5b;}

#sidebar, #sidebar_left, #sidebar_right {margin-top: 40px;}

#sidebar .widget-container td {padding-right: 15px;}

#sidebar .widget-container th {padding-right: 30px}

#sidebar240 .widget-container td {padding-right: 1px;}

#sidebar240 .widget-container th {padding-right: 18px}

.widget-title{font-family: 'Open Sans', sans-serif;font-size:15px;font-weight:600;color:#e1e1e1;padding-bottom: 2px;}
.widget-container ul{margin-left: 0px;}

/* Blog and Post Styles */

.post{}
.entry-title{margin-bottom:2px}
.single .entry-title{text-align:left;line-height:30px;margin-top:12px;margin-bottom:10px}
.entry-title a{font-size:22px}
.nav-previous{text-align:left}
.nav-next{text-align:right}
.entry-meta, .entry-utility, .entry-meta a, .entry-utility a{font-size:12px}
.entry-meta, .entry-utility{color:#888}
.comment, .trackback, .pingback{padding:10px;margin:10px 0 10px 0}
.odd{background:#f8f8f8}
#form-allowed-tags code{font-size:12px}
#respond input, #respond textarea{margin:0 5px 5px 0;overflow:auto}
.avatar{float:left}

/* Footer  */

#footer {
	background:url(../images/footer.png);
}

.footer-widgets {
	color: #fff;
	margin-top: 15px;
	margin-bottom: 10px;
}

.footer-widget-title {
	font-size:14px;color:#fff;font-weight: 600;text-transform:uppercase;
}

.footer-text {
	color: #5b5b5b;
	font-size: 13px;
}


.footer-widgets ul{padding:5px 0px 5px 0px; margin-left: 0px;}

.footer-widgets li{
	list-style-type: none;
	padding-left: 0;
	color: #5b5b5b;
	font-size: 13px;
	border-bottom: 1px solid #3d3d3d;
}

.footer-widgets li a{
	color: #d4d4d4;
	line-height: 2em;
}

.footer-widgets li a:hover{
	color: #eee;
}


.footer-item ul {
	padding-left: 15px;
}

#afterfooter {
	width: 100%; 
	background:url(../images/afterfooter.png);
	color: white;
}

#afterfooterwrap {
	margin: auto;
}

#afterfootercopyright {
	text-align: right;
}

#afterfootermenu {
	float:left;
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}

#afterfootermenu a {
	color: #F5F5F5;
}

#afterfootermenu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
}

#afterfootermenu li {
	display: inline; 
}

#credit {z-index: 99;text-align: center; margin-bottom:8px;}
#credit img {margin-bottom: -12px;}

/* WordPress Styles  */

.featured-image {margin-bottom: 25px;}

.alignnone {
	display: block;
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.size-full {
	max-width: 100%;
	height: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 15px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 95%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
  	color: #666;
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

blockquote { 
	background-color: #eee;
	margin: 10px;
	padding: 3px;
	border-left: none;
	color: #222;
}

blockquote p {margin: 10px; }

.sticky { }

.gallery-caption { }

/* Lists */

li {  }

/* Comments  */

.comments_container {
	background: transparent;
	margin-bottom: 20px;
	padding-top: 20px;
}

.commentsh2{
	font-size: 20px;
	font-weight: bold;
}

#comments .navigation { padding: 0 0 18px 0; }

label[for="comment"] {display: block;}

/* Comment lists  */

.comment_author {font-weight: bold; font-size: 14px;}

ol.commentlist { list-style: none; }
ol.commentlist p { margin-left: 8px; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { float: left; }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal;font-weight: 600; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { margin: 0 10px 10px 10px; border-radius: 4px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 13px;text-align: right; margin-bottom: 10px; padding-left: 8px; padding-right:2px; }
ol.commentlist li.comment div.comment-meta a { color: #aaa; }
ol.commentlist li.comment p { clear: none;}
ol.commentlist li.comment ul { }
ol.commentlist li.comment span.reply { font-size: 13px; }
ol.commentlist li.comment span.reply a { font-weight: bold;color:#55b8d5; }
ol.commentlist li.comment span.reply a:hover{ color:#2aa5c8; }
ol.commentlist li.comment ul.children { list-style: none; margin: 20px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { padding: 0; margin-left: 102px; }
ol.commentlist li.even { margin: 0 }
ol.commentlist li.odd { background-color: transparent;}
ol.commentlist li.parent { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { margin-top: -10px; }

li.pingback.even.thread-even.depth-1 img.triangle {margin-left: 93px !important;}
li.pingback.odd.thread-odd.depth-1 img.triangle {margin-left: 93px !important;}

li.trackback.even.thread-even.depth-1 img.triangle {margin-left: 93px !important;}
li.trackback.odd.thread-odd.depth-1 img.triangle {margin-left: 93px !important;}

form { }

textarea {margin-top: 10px;padding-bottom: 10px;width: 90%;}

/* HR
----------------------------------------------------------------------------------------------------*/

hr {
  border: 1px #3D3D3D solid;
  clear: both;
  height: 0;
  margin: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

/* Custom Font Styles */

h2.posts_title {
	margin-bottom: 32px;
}

.posts_title a{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}

.posts_title a:hover{
	color: #eee;
}

h1.description, h1.sitename {margin-bottom: 0px;}

.description {	
	font-size: 11px;
	margin-top:12px;
	color: #eee;
	font-weight: bold;
}

.sitename {
	font-size: 34px;
	font-weight: 600;
	margin-top: 20px;
	line-height: 47.5px;
	font-family: 'Open Sans', sans-serif;
}

.sitename a{text-decoration: none;}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {

}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
}

/* Override image 100% issue in IE */
img {width: auto !important; }

/*	For sticky footer	*/

* {
	margin: 0;
}
html, body {
	height: 100%;
	margin:0px !important;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -206px auto; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push{
	height: 206px;
	clear:both;
}

/*	Responsive Styles	*/

@media handheld, only screen and (max-width: 1024px) {
div.slider-nav span.right {right: 5px !important;}
div.slider-nav span.left {margin-left: 15px !important;}
}

@media handheld, only screen and (max-width: 767px) {

	#box1, #box2 {margin-right: 0px !important;} 
	.searchform {display: none;}
    #nav ul ul li:hover ul, #nav ul ul ul li:hover ul {margin: 0px !important;}
    #nav ul ul .parent > a, #nav ul ul .parent:hover > a:hover, #nav ul ul li:hover ul .parent > a, #nav ul ul li:hover ul .parent > a:hover{background-image:url(../images/arrow.png) !important;background-position:right !important;background-repeat:no-repeat !important;}
    .carousel_caption {font-size: 10px;}
    .callout_title {text-align: center;}
    #calloutbutton {width: 200px; margin: auto; margin-bottom: 30px;}
    #banner {margin-top: 10px;}
    div.slider-nav span.right {
    right: 0px; }
	div.slider-nav span.left {
    margin-left: 0px; }
     .meta ul li {display: inline; margin-right:15px;}
    .meta-mobile ul li {display: inline; margin-right:15px;}
    .postformats {height: 20px; width: 20px; float: left; margin-right: -10px !important;}
    #product_media.six.columns {margin-left: 0%; float: none;}
    #image_container.six.columns {float: none !important;}
    #text_container {margin-bottom: 20px;}
    .entry.nine.columns, .byline.three.columns {width: 100% !important; margin-left: 0% !important;}
    #sidebar.four.columns {float: left;}
    #gallery li.three.columns {margin-right:0px; margin-left: 0% !important;}
	#gallery li.four.columns {margin-right:0px; margin-left: 0% !important;}
	#gallery li.six.columns {margin-right:0px; margin-left: 0% !important;} 
	#recent-posts-container.three.columns {margin-left: 0px;}
	#recent-posts-container.three.columns:last-child {float: left;}
	#callout_text {font-size: 18px;}
	#bird {width: 15px; margin-top: 25px;}
	#sidebar.three.columns {margin-left:0;}
	#sidebar.three.columns:last-child {float: left;}
	
}

@media handheld, only screen and (max-width: 400px) {
	#box1 {margin-top:0px;margin-bottom:7px;}
	#box2 {margin-top:7px;margin-bottom:7px;}
	#box3 {margin-top:7px;margin-bottom:14px;}
	.carousel_caption {font-size: 6px;}
	.icons{text-align: center;}
	#logo{text-align:center;}
	.sitename {text-align:center;}
	#register {text-align: center;}
	.description{text-align: center;}
	#header_contact {text-align: center;}
	#halfnav {text-align: center; float: none;}
	#afterfootermenu {display:none;}
	#credit {float:left;margin-left:15px;margin-top:-2px;}
	#afterfootercopyright {float: right;margin-right:15px;margin-bottom:2px;}
	#mobileMenu_nav_menu {margin-top: 10px; margin-right: 10px; text-align:center;}
	.content_title {font-size: 14px;}
	.content_text {font-size: 12px;}
	
	#nav {right: 140px; width: 100px;}
}

#afterfooter, .byline.three.columns, #post-244 h2.posts_title, .fpfcredit, .comments_container { display: none; }

p.copyright { text-align: center }

#new-royalslider-2 .videotitle { margin-left: 25px;margin-top: 10px;margin-bottom: 10px;}

h2.widget-title { font-size: 150%; font-weight: normal; }

.ai1ec-date { background: none; }

.ai1ec-event-location { color: #fff; }

a:hover { color: #ffff00; }